{% extends 'public/templates/public_template.html' %} {% block title %} {{ title
}} {% endblock %} {% block main %}

<div class="container mt-6">
  <div class="col-sm-4">
    <h4 class="title">Login</h4>
    <form action="/login" method="POST" class="form-contact">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {% if
        form.email.errors %} {{ form.email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group mt-3">
        {{ form.password.label(class="form-control-label") }} {% if
        form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-check">
        {{ form.remember(class="form-check-input") }} {{
        form.remember.label(class="form-check-label") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-dark mt-2") }}
      </div>
    </form>
    {% for cat, q in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ q }}</div>
    {% endfor %}
    <p class="underForm">
      Don't have an account? <a href="/register">Register</a>
    </p>
    {% endblock %}
  </div>
</div>
